extends ../layout
block body
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2 (href="/" class=!categoryActive ? "active" : "")=Blog
                        ul.nav.nav-pills.justify-content-end
                            li.nav-item
                                a.nav-link(href="/" class=!categoryActive ? "active" : "") Accueil
                            if(logged)
                                li.nav-item
                                    a.nav-link(href="/categories") Editer categories
                                li.nav-item
                                    a.nav-link(href="/login") Se déconnecter
                            else
                                li.nav-item
                                    a.nav-link(href="/login") Se connecter
                                li.nav-item
                                    a.nav-link(href="/sign_in") Créer un compte