extends layout
block header.p-3.bg-dark.text-white
    div.container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
            ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                li
                a.nav-link.px-2.text-secondary(href='#') Home
                li
                a.nav-link.px-2.text-white(href='#') Features
                li
                a.nav-link.px-2.text-white(href='#') Pricing
                li
                a.nav-link.px-2.text-white(href='#') FAQs
                li
                a.nav-link.px-2.text-white(href='#') About
                li.nav-item.dropdown
                a#dropdown06.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false') Dropdown
                ul.dropdown-menu(aria-labelledby='dropdown06')
                    li
                    a.dropdown-item(href='#') Action
                    li
                    a.dropdown-item(href='#') Another action
                    li
                    a.dropdown-item(href='#') Something else here