extends layout
block body
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2 USERS
        div.row.mt-5
            div.col
              ul
                each user in users
                  li
                    user.login
        a(href="/")
                button Vers l'accueil
