extend layout

block main
    div.container-sm
            div.col
                div.bg-light.p-5
                    div.container
                        h1.text-center=categoryActive ? categoryActive.cat_name : "Accueil"