extend layout

block main
    div.row
        div.col
            div.bg-light.p-5
                div.container
                    h1.text-center=categoryActive ? categoryActive.cat_name : "Accueil"