extend layout

block main
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2=cat_name
        form(action="../post/create" method="POST")
            div.row
                input(type="Submit" value="Sauvegarder")
            div.row
                div.col
                    div.bg-light.p-5
                        input(id="name" name="name")
            div.row
                div.col
                    span.badge.rounded-pill.bg-primary
                    div
                        textarea(id="content" name="content")
        div.row
            a(href="/cat_"+cat_id)
                button Cancel
        div.p-2.alert.alert-danger
                h4.text-center=errors