extends layout
block body
    div.container
        if !logged
            if errors
              div.p-2.alert.alert-danger
                h4=errors
            h4 LOGIN
            form(method="POST" action="/login")
                div.p-2
                    label(for="username") Nom d'utilisateur
                        input(type="text" id="username" name="username")
                div.p-2
                    label(for="password") Mot de passe
                        input(type="password" id="password" name="password")
                div.flex.p-2
                    input(type="submit" value="Login")
                a(href="/")
            h4
            h4
            h4
            h4 SIGN IN
            form(method="POST" action="/sign_in")
                div.p-2
                    label(for="s_email") Email
                        input(type="text" id="s_username" name="s_username")
                div.p-2
                    label(for="s_username") Nom d'utilisateur
                        input(type="text" id="s_username" name="s_username")
                div.p-2
                    label(for="s_password") Mot de passe
                        input(type="password" id="s_password" name="s_password")
                div.flex.p-2
                    input(type="submit" value="S'inscrire")

                a(href="/")
                    button Retour
        else
            a(href="/")
                button Vers l'accueil
            form(method="POST" action="/logout")
                input(type="submit" value="Logout")
